<main class="min-h-screen p-4 bg-gray-100">
  <div
    class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-5"
  >
    <app-image
      *ngFor="let image of images; let index = index"
      [image]="image"
    ></app-image>
  </div>
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  <p
    class="mt-8 mb-4 text-xl font-medium text-center text-gray-500"
    *ngIf="this.pageAmount && this.pageAmount <= this.page - 1"
  >
    Sorry, no more images available at the moment!
  </p>
</main>
